@charset "UTF-8";
/* 프리텐다드 */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
/* G Market */
@import url('https://cdn.jsdelivr.net/gh/leetaewook/gmarket-sans-dynamic-subset/GmarketSans.css');
  /* 페이퍼로지 */
@import url('https://cdn.jsdelivr.net/gh/fonts-archive/Paperlogy/Paperlogy.css');
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");
@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,700");
@font-face {
  font-family: 'Paperlogy-8ExtraBold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-8ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}
* {
  font-family: "Pretendard", "sans-serif";
}
:root {
  --white: #fff;
  --grey1: #F2F3F7;
  --grey2: #F5F5F5;
  --grey3: #AFAFAF;
  --border: #DFDFDF;
  --dark: #313131;
  --black: #000;
  --padding: 10px;
}

/* reset */
h1 a{display: block;}
.hidden{
  display: none;
}
.ellipsis_1{
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ellipsis_2{
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 표시할 줄 수 */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ellipsis_3{
  display: -webkit-box;
  -webkit-line-clamp: 3; /* 표시할 줄 수 */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.word_keep{
  word-break: keep-all;
}
/* layout */
body{
  background-color: var(--white);
  line-height: 1.1em;
  font-family: Pretendard;
}
.container_pc{
  box-sizing: border-box;
  margin: auto;
  padding: 0 10px;
}
.d-flex{
  display: flex;
}
.just_space{
  justify-content: space-between;
  align-items: center;
}
.wrap{
  flex-wrap: wrap;
}
.all_center{
  align-items: center;
  justify-content: center;
  align-self: center;
  margin: 0 auto;
}
.sub_btn{
  white-space: nowrap;
  padding: 6px 14px;
  border-radius: 7px;
  background-color: var(--grey3);
  color: var(--white);
  transition: .2s;
  cursor: pointer;
}
.sub_btn:hover{
  background-color:#909090;
}
.cf{
  display: block;
  clear: both;
  content: ' ';
}

.pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1%;
  padding-bottom: calc(var(--padding)*5);
}
.pagination li{
  position: relative;
  font-size: 0.95em;
  line-height: 1em;
  border-radius: 50%;
  padding: 5px 8px;
  color: var(--grey3);
  cursor: pointer;
}
.pagination li.active{
  color: var(--point_main);
  font-weight: 600;
}
.pagination li a{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.pagination li a i{
  font-size: 0.85em;
}

.margin_xl{
  padding-bottom: calc(var(--padding)*5);
}
.margin_l{
  padding-bottom: calc(var(--padding)*3.5);
}
.margin_m{
  padding-bottom: calc(var(--padding)*2.5);
}
.margin_s{
  padding-bottom: calc(var(--padding)*1.5);
}

/* TYPOGRAPHY */
.size_xl{
  font-size: 1.5rem !important;
}
.size_l{
  font-size: 1.25rem !important;
}
.size_m{
  font-size: 1.075rem !important;
}
.size_s{
  font-size: 0.95rem !important;
}
.size_xs{
  font-size: 0.875rem !important;
}
:root {
  --font-weight-Thin: 100;
  --font-weight-Extra-Light : 200;
  --font-weight-Light : 300;
  --font-weight-Regular : 400;
  --font-weight-Medium : 500;
  --font-weight-Semi-Bold : 600;
  --font-weight-Bold : 700;
  --font-weight-Extra-Bold : 800;
  --font-weight-Heavy : 900;

  /*--max-width-val: 720px;*/
  --max-width-val: 400px;
  --max-width-val: 720px;
  --max-z-index: 2000;


  --menu-font-size:  calc(var(--max-width-val) / 720 * 30);
  --sys-font-23:  calc(var(--max-width-val) / 720 * 23);
  --sys-font-24:  calc(var(--max-width-val) / 720 * 24);
  --sys-font-26:  calc(var(--max-width-val) / 720 * 26);
  --sys-font-28: calc(var(--max-width-val) / 720 * 28);
  --sys-font-30:calc(var(--max-width-val) / 720 * 30);
  --sys-font-32:calc(var(--max-width-val) / 720 * 32);
  --sys-font-34:calc(var(--max-width-val) / 720 * 34);
  --sys-font-36:calc(var(--max-width-val) / 720 * 36);
  --sys-font-38:calc(var(--max-width-val) / 720 * 38);
  --sys-font-40:calc(var(--max-width-val) / 720 * 40);
  --sys-font-50:calc(var(--max-width-val) / 720 * 50);



  --user-name-font-size:calc(var(--max-width-val) / 720 * 28);
  --sys-date-font-size:calc(var(--max-width-val) / 720 * 28);
  --sys-order-font-size:calc(var(--max-width-val) / 720 * 26);
  --category_title-font-size:calc(var(--max-width-val) / 720 * 34);
  --document-title-font-size:calc(var(--max-width-val) / 720 * 35);
  --document-content-font-size:calc(var(--max-width-val) / 720 * 27);
  --container-cate-font-size:calc(var(--max-width-val) / 720 * 26);
  --container-name-font-size:calc(var(--max-width-val) / 720 * 30);
  --contentsLen-font-size:calc(var(--max-width-val) / 720 * 28);
  --write-btn-font-size:calc(var(--max-width-val) / 720 * 34);
  --write-category-font-size:calc(var(--max-width-val) / 720 * 30);
  --cateRow-font-size:calc(var(--max-width-val) / 720 * 30);

  --write-usernickname-font-size:calc(var(--max-width-val) / 720 * 28);
  --write-title-font-size:calc(var(--max-width-val) / 720 * 30);
  --write-contents-font-size:calc(var(--max-width-val) / 720 * 24);

  --view-document-title-font-size:calc(var(--max-width-val) / 720 * 70);
  --view-document-contents-font-size:calc(var(--max-width-val) / 720 * 25);

  --og-title-font-size:calc(var(--max-width-val) / 720 * 28);
  --og-description-font-size:calc(var(--max-width-val) / 720 * 26);

  --view-btn-font-size:calc(var(--max-width-val) / 720 * 24);

  --search-font-size:calc(var(--max-width-val) / 720 * 34);
}
@media screen and (max-width: 700px) {
  :root {
      --max-width-val: 400px;
  }
}


@media screen and (max-width: 500px) {
  :root {
      --max-width-val: 400px;
  }
}
@media screen and (max-width: 400px) {
  :root {
      --max-width-val: 100vw;

      --sys-font-23:  calc(var(--max-width-val) / 720 * 23);
      --sys-font-24:  calc(var(--max-width-val) / 720 * 24);
      --sys-font-26:  calc(var(--max-width-val) / 720 * 26);
      --sys-font-28: calc(var(--max-width-val) / 720 * 28);
      --sys-font-30:calc(var(--max-width-val) / 720 * 30);
      --sys-font-32:calc(var(--max-width-val) / 720 * 32);
      --sys-font-34:calc(var(--max-width-val) / 720 * 34);
      --sys-font-36:calc(var(--max-width-val) / 720 * 36);
      --sys-font-38:calc(var(--max-width-val) / 720 * 38);
      --sys-font-40:calc(var(--max-width-val) / 720 * 40);
      --sys-font-50:calc(var(--max-width-val) / 720 * 50);



      --user-name-font-size:calc(var(--max-width-val) / 720 * 28);
      --sys-date-font-size:calc(var(--max-width-val) / 720 * 28);
      --sys-order-font-size:calc(var(--max-width-val) / 720 * 26);
      --category_title-font-size:calc(var(--max-width-val) / 720 * 34);
      --document-title-font-size:calc(var(--max-width-val) / 720 * 35);
      --document-content-font-size:calc(var(--max-width-val) / 720 * 27);
      --container-cate-font-size:calc(var(--max-width-val) / 720 * 26);
      --container-name-font-size:calc(var(--max-width-val) / 720 * 30);
      --contentsLen-font-size:calc(var(--max-width-val) / 720 * 28);
      --write-btn-font-size:calc(var(--max-width-val) / 720 * 34);
      --write-category-font-size:calc(var(--max-width-val) / 720 * 30);
      --cateRow-font-size:calc(var(--max-width-val) / 720 * 30);

      --write-usernickname-font-size:calc(var(--max-width-val) / 720 * 28);
      --write-title-font-size:calc(var(--max-width-val) / 720 * 30);
      --write-contents-font-size:calc(var(--max-width-val) / 720 * 24);

      --view-document-title-font-size:calc(var(--max-width-val) / 720 * 70);
      --view-document-contents-font-size:calc(var(--max-width-val) / 720 * 25);

      --og-title-font-size:calc(var(--max-width-val) / 720 * 28);
      --og-description-font-size:calc(var(--max-width-val) / 720 * 26);

      --view-btn-font-size:calc(var(--max-width-val) / 720 * 24);

      --search-font-size:calc(var(--max-width-val) / 720 * 34);


  }
}
/*COLOR*/
.white{
  color: var(--white);
}
.dark{
  color: var(--dark);
}
.bg_sky{
  background-color: #cbe3f8;
}
/* hover, button*/
.cursor{
  cursor: pointer;
}
.user_hover{
  text-decoration: none;
  color: var(--dark);
  transition: .3s;
}
.user_hover:hover{
  color: var(--point_main);
}
.butn_tab{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
}
.butn_tab li{
  border-radius: 50px;
  overflow: hidden;
  transition: .2s;
}
.butn_tab li a{
  display: block;
  padding: 6px 22px;
  line-height: 1em;
}
.butn_tab li.active{
  background-color: var(--point_main);
  color: var(--white);
}

.border_s{
  border-radius: 7px;
  overflow: hidden;
}
.border_l{
  border-radius: 10px;
  overflow: hidden;
}
.page_prev{
  color: var(--grey3);
  fill: var(--grey3);
  cursor: pointer;
  line-height: 1em;
  transition: .2s;
}
.page_prev a{
  display: flex;
  align-items: center;
}
.page_prev:hover{
  filter: brightness(75%);
}
.value_inp{
  display: block;
  width: 100%;
  border-radius: 7px;
  border: 1px solid var(--border);
  font-size: 0.9em;
  padding: 15px;
  max-height: 50px;
  transition: .2s;
  box-sizing: border-box;
}
.value_inp.active{
  border: 1px solid #858585;
}
.value_inp.file{
  height: 50px;
  cursor: pointer;
}
.value_inp_hidden{
  display: none;
}
.value_select{
  position: relative;
  display: inline-block;
  width: auto;
  border-radius: 7px;
  border: 1px solid var(--border);
  font-size: 0.9em;
  max-height: 50px;
  transition: .2s;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../images/down_arrow.svg) no-repeat 95% 50% / 15px auto;
}
.value_select.active{
  border: 1px solid #858585;
}
.value_select_label{
  padding: 15px;
}
/* 옵션 리스트 */
.value_select_list{
  position: absolute;
  min-width: 100%;
  width: auto;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: none;
  list-style: none;
  padding: 0;
  margin-top: 3%;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 10;
  left: 3%;
}
.value_select_list li{
  padding: 10px;
  cursor: pointer;
  transition: background 0.3s;
  white-space: nowrap;
}
.value_select_list li:hover{
  background: #f0f0f0;
}

.img_box{
  position: relative;
}
.hover_play::before{
  display: block;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  /* background-color: #00000045; */
  opacity: 0;
  transition: .2s;
}
.hover_play::after{
  display: block;
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 35px;
  height: 35px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  z-index: 2;
  opacity: 0;
  transition: .8s;
}
.hover_play:hover::after, .hover_play:hover::before{
  opacity: 1;
}
.play_icon::before{
  display: block;
  content: '';
  position: absolute;
  bottom: 6px;
  right: 10px;
  width: 22px;
  height: 22px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  z-index: 1;
}
.hover_play::after{
  background-image: url(/images/play_btn.png);
  opacity: 1;
}


.scrollBar::-webkit-scrollbar {
  width: 10px;
}
.scrollBar::-webkit-scrollbar-thumb {
  height: 30%;
  background: #dcdfe6;
  
  border-radius: 10px;
}
.scrollBar::-webkit-scrollbar-track {
  background: rgba(215, 217, 219, 0.1);
}
.check_design { 
  display: block; 
  position: relative;
  padding-left: 35px;
  cursor: pointer; 
  -webkit-user-select: none; 
  -moz-user-select: none; 
  -ms-user-select: none; 
  user-select: none;
  line-height: 30px;
  font-weight: 600;
}
/* 기본 체크박스 숨기기 */
.check_design .check_point[type="checkbox"] { display: none; }
/* 선택되지 않은 체크박스 스타일 꾸미기 */
.on { width: 30px; height: 30px; position: absolute; top: 0; left: 0; border: 2px solid #D0D0D0; border-radius: 3px;}
/* 선택된 체크박스 스타일 꾸미기 */
.check_design .check_point[type="checkbox"]:checked + .on { 
  /* background: #4164f0;  */
  background: white;
}
.on:after{ content: ""; position: absolute; display: none; }
.check_design .check_point[type="checkbox"]:checked + .on:after { 
  display: block; 
  /* background: #4164f0; */
  background: white;
}
.on:after{
  width: 10px;
  height: 16px;
  border: solid #ffa73a;
  border-width: 0 4px 4px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  left: 8px;
  top: 3px;
}


.scroller{
  position: relative;
  left: 0%;
  -webkit-transform: translate3d(-5%, 0, 0);
          transform: translate3d(-0%, 0, 0);
  width: 18px;
  height: 32px;
  border: 1px solid #fff;
  border-radius: 30px;
}
.scroller .tip{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: calc(100% + 10px);
  white-space: nowrap;
  font-size: clamp(0.5em, 2.5vw, 0.85em);
}
.scroller::after{
  position: absolute;
  top: 12px;
  left: 50%;
  -webkit-transform: translate3d(-50%, 0, 0);
          transform: translate3d(-50%, 0, 0);
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-animation: 1200ms ease 0ms forwards infinite scroll;
          animation: 1200ms ease 0ms forwards infinite scroll;
  content: "";
}
@-webkit-keyframes scroll{
  from {
    -webkit-transform: translate3d(-50%, 0, 0);
            transform: translate3d(-50%, 0, 0);
  }
  to {
    -webkit-transform: translate3d(-50%, 60%, 0);
            transform: translate3d(-50%, 60%, 0);
    opacity: 0;
  }
}
@keyframes scroll{
  from {
    -webkit-transform: translate3d(-50%, 0, 0);
            transform: translate3d(-50%, 0, 0);
  }
  to {
    -webkit-transform: translate3d(-50%, 60%, 0);
            transform: translate3d(-50%, 60%, 0);
    opacity: 0;
  }
}
body {
  margin: 0;
  overflow: hidden;
}

pre {
  padding: 20px;
  border-radius: 5px;
}

.token.string,
.token.number,
.token.comment,
.token.keyword,
.token.attr-value {
  opacity: 0.6;
}

section{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row;
  color: #fff;
  position: relative;
}
#page-1 .text, #page-1-clone .text{
  background-color: #000;
}
#page-1 .text{
  align-items: start;
}
#page-2 .text{
  background-color: #fff;
}
#page-3 .text{
  background-color: #000;
}
#page-4 .text{
  background-color: #fff;
}
#page-5 .text{
  background-color: #000;
}
#page-6 .text, #page-6-clone .text{
  background-color: #fff;
}
#page-7 .text{
  background-color: #000;
}
#page-8 .text, #page-8-clone .text{
  background-color: #000;
}
#page-9 .text{
  background-color: #fff;
  color: #000;
}
#page-10 .text, #page-10-clone .text{
  background-color: #000;
}

.text{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  position: relative;
}

.pg-pips{
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 100;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pg-pips ul li a span{
  background: #fff;
}

.pg-pips li{
  display: block;
  width: 10px;
  height: 10px;
  margin: 16px;
  position: relative;
}

.pg-pips span:after{
  background: rgba(255, 255, 255, 0.15);
  position: absolute;
  content: "";
  display: block;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  border-radius: 100%;
  transition: 0.3s;
}

.pg-pips li .active span{
  background: #fff;
  position: absolute;
}

.pg-pips li .active span:after {
  top: -6px;
  left: -6px;
  bottom: -6px;
  right: -6px;
}

.pg-pips ul{
  margin: 0;
  padding: 0;
}

.pg-pips ul li{
  display: block;
  width: 14px;
  height: 13px;
  margin: 7px;
  position: relative;
}

.pg-pips ul li a{
  display: block;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
}

.pg-pips ul li a.active span,
.pg-pips ul li:hover a.active span{
  height: 12px;
  width: 12px;
  margin: -6px 0 0 -6px;
  border-radius: 100%;
}

.pg-pips ul li a span{
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  height: 4px;
  width: 4px;
  border: 0;
  background: #fff;
  left: 50%;
  top: 50%;
  margin: -2px 0 0 -2px;
  transition: all 0.1s ease-in-out;
}

.pg-pips ul li:hover a span{
  width: 10px;
  height: 10px;
  margin: -5px 0px 0px -5px;
}

#settings-open {
  color: #fff;
  font-size: 35px;
  position: absolute;
  right: -60px;
  top: 10px;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#settings-open span {
  line-height: 0;
}
#settings-open span::before {
  content: "\F8BA";
}

#settings {
  position: fixed;
  left: 10px;
  top: 10px;
  width: 250px;
  font-family: "Inconsolata";
  font-size: 14px;
  -webkit-transform: translate3d(-265px, 0, 0);
          transform: translate3d(-265px, 0, 0);
  transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#settings.active {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
#settings.active #settings-open span::before {
  content: "\F5AD";
}
#settings .settings-inner {
  border: 3px solid #fff;
  border-radius: 4px;
  padding: 15px;
}
#settings h4 {
  margin: 10px 0 5px 0;
  padding: 6px 15px;
  color: #fff;
  text-transform: uppercase;
}
#settings button, #settings select {
  border: 3px solid #fff;
  border-radius: 4px;
  background-color: transparent;
  padding: 6px 12px;
  font-family: "Inconsolata";
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  width: 125px;
}
#settings button:hover, #settings select:hover {
  background-color: #fff;
  color: #000;
}
#settings button {
  float: left;
  width: 75px;
  margin: 0 10px 15px 0;
}
#settings select {
  display: block;
  margin-top: 5px;
}
#settings label {
  color: #fff;
  font-weight: bold;
}
#settings .setting {
  padding: 6px 12px;
}
#settings .output {
  float: right;
}

.mb-bar {
  background-color: #fff;
}

.mb-track-y {
  width: 5px;
  background-color: rgba(255, 255, 255, 0.2);
}

#scroll {
  height: 90vh;
}

#listeners {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column;
}
#listeners li {
  list-style: none;
  border: 3px solid #fff;
  border-radius: 3px;
  color: #fff;
  padding: 6px 12px;
  margin: 0 10px 10px 0;
  font-weight: bold;
}
#listeners li.active {
  background-color: #fff;
  color: #000;
}

.h2q{
  font-size: clamp(45px, 6vw, 70px);
  line-height: 1.2;
  font-family: 'Gmarket Sans';
  font-weight: 700;
  padding-bottom: 3%;
}
.h2q span{
  color: #D90000;
}
.h3q{
  font-size: clamp(14px, 3vw, 26px);
  line-height: 1.4;
  font-weight: 600;
}
.h4q{
  font-size: clamp(12px, 2vw, 20px);
  line-height: 1.3;
  font-weight: 500;
}
.textq{
  font-size: clamp(10px, 2vw, 16px);
  line-height: 1.3;
  font-weight: 400;
}